.jumbotron {
  height: 25vh;
  width: 100%;
  background-color: gray;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cta-section {
  margin: 4% 0;
  text-align: center;
}

.cta-section button {
  margin-top: 2%;
}

.content-section {
  margin-top: 3%;
  float: left;
  width: 50%;
  text-align: center;
}

.news-post {
  text-align: left;
  width: 26%;
  margin: 1.5% auto;
}

.post {
  text-align: right;
  width: 26%;
  margin: 1.5% auto;
}
